/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
/*@import 'components/components';*/

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-shadow: none;
}

body {
  position: relative;
  font-family: Helvetica, 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 0;
}

body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #e52e24;
  overflow: hidden;
  z-index: 1;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main,
.page-content.open {
  -webkit-transform: translate(280px, 0);
          transform: translate(280px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  display: initial;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  height: 24px;
  width: 24px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base,
p,
ul,
ol {
  font-size: 19px;
}

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 280px;
  height: 100%;
  background-color: white;
  color: black;
  -webkit-transform: translate(-280px, 0);
          transform: translate(-280px, 0);
  overflow-y: auto;
  box-shadow: 0 0 5px #888888;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app-bar,
.navdrawer-container.opened,
.page-content,
main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: 60px;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: white;
  color: #3367D6;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: black;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
  height: 25px;
  width: 70%;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
}
body {
  background-color: rgb(249, 249, 249);
}

#menu-header {
  width: 70%;
  padding: 17px 20px;
}

.top-pad {
  height: 60px;
  width: 100%;
}

#top {
  margin-bottom: 0;
}

#top button {
  padding-top: 5px;
}

#search-field-outer {
  height: 30px;
  background-color: transparent;
  border: none;
  border-bottom: solid white 1px;
  box-shadow: none;
  border-radius: 0;
  margin-top: 15px;
  text-shadow: none;
  color: white;
  width: 120%;
}

#search-field-outer2 {
  width: 100%;
  padding-right: 60px;
  padding-left: 60px;
}

#search-field {
  padding: 5px;
  font-size: 17px;
}

.search {
  position: absolute;
  right: 0;
}

.ui-input-search:after {
  background-image: none;
  width: 0;
}

.top-text {
  font-family: Helvetica;
  font-size: 20px;
  text-align: center;
  padding-top: 5px;
  margin: auto auto;
  width: 80%;
  margin: inherit auto;
  text-shadow: none;
  color: white;
  font-weight: normal;
  padding-right: 60px;
  padding-left: 60px;
}
#calendar {
  height: 75%;
  width: 100%;
  margin: 20px auto;
  margin-bottom: 0;
}
#cal-table .time-label {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  width: 12%;
  min-width: 30px;
  text-align: right;
  margin-top: 0;
  border: none;
  font-size: 10px;
}
#days {
  width: 90%;
  height: 100%;
  margin: 10px auto;
  margin-bottom: 0;
}
#cal-table {
  width: 100%;
  height: 100%;
  margin: 0;
}
#cal-table tr {
  height: 5%;
}
table {
  border-collapse: collapse;
}
#cal-table table, td {
  background-color: white;
  border: 1px solid #B0B0B0;
}
#cal-table td {
  width: 17.5%;
  padding: 0;
  display: table-cell;
  text-align: center;
}
#cal-table td p {
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 16px;
}
#cal-table th {
  width: 15%;
  display: table-cell;
  padding: 0;
  border: none;
  border: 1px #B0B0B0 solid;
  background-color: rgb(249, 249, 249);
}
.day-title {
  border: none;
  border-bottom: 1px #B0B0B0 solid;
  background-color: rgb(249, 249, 249);
}
#cal-table td::before {
  background-color: white;
  content: none;
}
.clear {
  clear: both;
}
.ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page {
  position: relative;
  height: 100%;
}
.ui-mobile-viewport {
  margin: 0 auto;
}
#last-time {
  border-bottom: 1px solid #B0B0B0;
}
#top-right {
  border-bottom: none;
  width: 5% !important;
  min-width: 10px;
}
.custom-count-pos {
  font-size: 11px;
  font-weight: bold;
  padding: 0.2em 0.5em;
  float: right;
}

.ui-listview>.ui-li-static {
  white-space: normal;
  list-style-type: none;
  width: 90%;
  margin: 10px auto;
  box-shadow: 2px 2px 5px #888888;
  background-color: white;
  border-bottom: #FFCC00 solid 3px;
}

#search-settings-container {
  margin: 10px;
}

.course-tile > .ui-btn-right {
  margin-right: 10px;
  margin-top: 25px;
}

.course-tile-title {
  display: inline-block;
  width: 90%;
  padding: 20px;
  border-bottom: #FFCC00 solid 1px;
}

.course-tile-code {
  font-weight: bold !important;
}

.course-tile.course-tile-units {
  text-align: left;
}

.course-li {
  padding: 0 !important;
}

.section-list {
  list-style-type: none;
  padding: 0;
}

.section-list li {
  border-bottom: 1px solid #9C9898;
  background: white;
}

.section-tile {
  margin: 15px;
  min-height: 90px;
}

.menu-btn {
  width: 60px;
  float: left;
  position: absolute;
  z-index: 4;
}

#course-display .section-tile, #auto-schedule-courses li {
  width: 80%;
  margin: 10px auto;
  box-shadow: 2px 2px 5px #888888;
  background-color: white;
  border-bottom: #FFCC00 solid 3px;
  padding: 10px;
}

.section-tile-info {
  display: inline-block;
}

.section-tile-info p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.section-tile-instructor {
  margin: 0;
}

.section-tile-time {
  display: inline-block;
  text-align: center;
  float: right;
}

.conflict-alert {
  margin: 0 auto;
  color: red;
}

#popup-section-tile p {
  font-size: 16px;
}

#class-display {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-scheduled {
  background-color: #FFCC00;
}

.section-registered {
  background-color: #4cd964;
}

.section-auto-scheduled {
  background-color: #5ac8fa;
}

.section {
  position: absolute;
  font-size: 10px;
  text-align: center;
  text-shadow: none;
}

#combination-title {
  text-align: center;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 0;
}
.menu-icon {
  width: 30px;
  padding-right: 30px;
}

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
  background-color: rgb(249, 249, 249);
}

#login-form {
  width: 75%;
  margin: 20px auto;
}

#login-title {
  width: 80%;
  margin: 20px auto;
  font-size: 40px;
  text-align: center;
}

.ui-checkbox {
  z-index: 0;
}

.page-content {
  width: 100%;
  height: 100%;
  position: absolute;
}

#auto-schedule-info {
  display: none;
}

.auto-schedule {
  #auto-schedule-info {
    display: block;
  }
}

#back-btn {
  width: 60px;
  float: left;
  position: absolute;
  z-index: 4;
}

.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
  font-weight: normal;
  font-size: 15px;
}

.ui-btn.ui-checkbox-on::after {
  background-color: #FFCC00;
}

.ui-btn.ui-checkbox-on {
  border: none;
  font-weight: normal;
  font-size: 15px;
  background-color: #f9f9f9;
}

.ui-btn.ui-checkbox-off {
  border: none;
  font-weight: normal;
  font-size: 15px;
  background-color: #f9f9f9;
}

.ui-block-a, .ui-block-b {
  margin-top: 5px;
}

.ui-collapsible-heading {
  border-radius: 0;
}

.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
  background-color: transparent;
}

#search h7 {
  font-size: 18px;
}

.btn-special {
  text-decoration: none;
  color: black !important;
  font-weight: normal !important;
  border-radius: 3px;
  border: solid 1px #e52e24;
  padding: 10px;
  background-color: white;
}

.btn-special:active {
  background-color: inherit;
}

.center-text {
  text-align: center;
}

.sections {
  padding-left: 0;
}

#auto-schedule-courses .sections li {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-bottom: 1px solid #9C9898;
  height: 50px;
}

#auto-schedule-courses a {
  display: inline-block;
  border: none !important;
  box-shadow: none !important;
  background-color: white;
  right: 5%;
  position: absolute;
}

#auto-schedule-courses .sections li a {
  background-color: transparent;
}

#auto-schedule-courses .sections li p {
  display: inline-block;
  padding-top: 5px;
  padding-left: 5px;
}

.ui-icon-delete:after {
  background-image: url('../images/x.svg');
  background-color: white;
}

.ui-icon-check:after {
  background-image: url('../images/check.svg');
  background-color: transparent;
}

#auto-schedule-courses .ui-icon-check {
  right: 20%;
}

.ui-icon-forbidden:after {
  background-image: url('../images/forbidden.svg');
  background-color: transparent;
}

#course-display h4 {
  font-weight: normal;
  font-size: 18px;
}

/** Smaller Screens **/
@media all and (max-width: 365px) {
  .top-text {
    font-size: 15px;
  }
  .section {
    font-size: 9px;
  }
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .ui-mobile-viewport {
    margin: 0;
  }
  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ main,
  .page-content.open {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;
    height: 60px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #e52e24;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 46px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  .navdrawer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: auto;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 864px;
    margin: 0 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }

  main {
    padding-top: 0;
    min-height: initial;
  }

  .page-content {
    max-width: 864px;
    margin: 0 auto;
    position: relative;
  }

  body {
    overflow-y: scroll;
  }

  .section {
    font-size: 14px;
  }
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(../fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(../fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(../fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(../fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(../fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(../fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(../fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(../fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(../fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Raleway-Regular.ttf);
}
